<!DOCTYPE html>

    <%- include('../partials/head'); %>

    <body class="container">
        
        <%- include('../partials/header', {pagina: 'sobre mim'}); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre min</h1>
                <p>Oi sou Drielison Lopes, Programador Front End Júnior</p>
                <p>
                    No momento estou me especializando em Front End, principalmente em React, mas também
                    tenho interesse em ter uma boa base de BackEnd. Apesar de pouca experiência já tive 
                    oportunidade de participar do desenvolvimento de um e-commerce para uma startup.
                </p>
                <p>
                    Sei que não sou um gênio da tecnologia mas como diz o Gai Sensei, "Se você tem o dom
                    da perseverança isso também te faz um gênio". E acredito que o meu passo com a RocketSeat
                    será o que faltava para poder decolar para o próximo nível e se tornar mais um novo 
                    "gênio da programação"!
                </p>
            </div>
        </main>

        <%- include('../partials/footer'); %>

    </body>


</html>