<head>
    <title>Construindo com EJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
        body {
            padding-top: 50px;
            background: #B993D6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        }
        li {
            color: #000;
            font-weight: bold;
        }
        p {
            font-size: bold;
            padding-top: 0.5rem;
        }
    </style>
</head>